@font-face {
    font-family: 'Inter-bold';
    src: url('../assets/fonts/static/Inter-ExtraBold.ttf');
}

@font-face {
    font-family: 'Inter-Mid-bold';
    src: url('../assets/fonts/static/Inter-Bold.ttf');
}



@import './color.scss';

.sect {
    display: flex;
    gap: 1rem;
    height: 70%;

    .mobilepng {
        display: none;
    }

    .main-section {
        width: 100%;

        .main-section-article {
            margin-top: 1rem;
            display: flex;
            gap: 1rem;

            h2 {
                font-family: 'Inter-bold';
                width: 45%;
                margin-top: 0;
                padding-top: 0;
                font-size: 2.5rem;
            }

            .inner-section-article {
                color: $Dark-grayish-blue;
                width: 70%;
                margin-top: 0;
                padding-top: 0;

                button {
                    margin-top: 1rem;
                    display: flex;
                    gap: 1rem;
                    justify-content: center;
                    align-items: center;
                    border: 0;
                    background-color: $soft-red;
                    font-family: 'Inter-Mid-bold';
                    color: white;
                    width: 50%;
                    height: 25%;

                    span {
                        font-family: 'Inter-Mid-bold';
                        color: white;
                    }

                    &:hover {
                        background-color: $Very-dark-blue;
                    }

                }
            }
        }
    }

    .side-section {
        background-color: $Very-dark-blue;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        width: 50%;

        .side-section-item {
            display: flex;
            flex-direction: column;
            width: 90%;
            height: 100%;

            h2 {
                color: $soft-orange;
                font-family: 'Inter-Mid-bold';
            }

            .link {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                height: 100%;
                gap: 2rem;

                a {
                    text-decoration: none;
                    color: $Dark-grayish-blue;

                    h2 {
                        color: white;
                        font-size: large;

                        &:hover {
                            color: $soft-orange;
                        }
                    }

                }
            }
        }
    }
}

@media (max-width: 428px) {
    .sect {
        flex-direction: column;
        width: 100%;
        height: auto;

        .main-section {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: auto;

            .desktoppng {
                display: none;
            }

            .mobilepng {
                display: block;
                width: 100%;
            }

            .main-section-article {
                width: 100%;
                flex-direction: column;
                gap: 0;

                h2 {
                    padding: 0;
                    margin: 0;
                    width: 100%;
                }

                .inner-section-article {
                    width: 100%;

                    button {
                        margin-top: 2rem;
                        border: 0;
                        width: 50%;
                        height: 3rem;
                        margin-bottom: 2rem;
                    }
                }
            }

        }

        .side-section {
            width: 100%;
            height: 28rem
        }
    }
}